body {
  margin: 0 !important;
  padding: 0 !important;
}

.swal2-container {
  z-index: 9999 !important;
}

#swal-target-container {
  position: absolute;
  height: 310px;
  width: 100%;
  z-index: 999999;
}

.swal2-popup {
  font-size: 0.75rem !important;
}

div:where(.swal2-container) input:where(.swal2-input):focus {
  box-shadow: none !important;
  outline: none !important;
}

.Toastify__toast-body {
  font-size: 0.8rem !important;
}
